<div fxLayout="row wrap" fxLayoutAlign="left center">
    <mat-card fxFlex.xs="100" fxFlex.sm="80" fxFlex.gt-sm="60">
        <mat-card-header>
            <mat-card-title>Document</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="right">
            <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
        </mat-card-actions>
      <div fxLayout="column" fxLayoutGap="14px grid">
          <mat-form-field fxFlex="100" appearance="legacy">
            <input matInput id="id" placeholder="id" [(ngModel)]="id">
            <mat-hint>(optional)</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="100" appearance="legacy">
            <input matInput id="Key" placeholder="key" [(ngModel)]="key">
            <mat-hint>name:value</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="100" appearance="legacy">
              <input matInput placeholder="App" id = "app" [(ngModel)]="app">
              <mat-hint>App/subsystem using this data</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="100" appearance="legacy">
              <input matInput placeholder="Database" id = "database" [(ngModel)]="database">
          </mat-form-field>
          <mat-form-field fxFlex="100" appearance="legacy">
              <input matInput placeholder="Collection" id = "collection" [(ngModel)]="collection">
          </mat-form-field>
          <input type="checkbox" class="switch" id=validation [(ngModel)]="validateEnabled" />
          <mat-form-field fxFlex="100" appearance="legacy" >
              <input matInput placeholder="SchemaURI" id = "schemaURI" [(ngModel)]="schemaURI" [disabled]="validateEnabled !== true" >
              <mat-hint>Validation schema URI (https://www.cloudcomputingassociates.com/schemas/flight.schema.json)</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="100" appearance="legacy">
              <input matInput placeholder="innerData" id = "innerData" [(ngModel)]="innerData">
              <mat-hint>any valid JSON</mat-hint>
          </mat-form-field>
      </div>
    </mat-card>
  </div>
