<div class=documents>
    <mat-toolbar color="primary" >
            <span class="gap"><button  color="primary" mat-raised-button (click)="OnDocumentsNavClick('search')">Search</button></span>
            <span class="gap"><button  color="primary" mat-raised-button (click)="OnDocumentsNavClick('new')">New</button></span>
            <span class="gap"><button  color="primary" mat-raised-button disabled (click)="OnDocumentsNavClick('edit')">Edit</button></span>
    </mat-toolbar>
    <div name=documents-display-area>
        <router-outlet></router-outlet>
    </div>       
</div>

